<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <h1 class="text-3xl mb-5">Hello <%= user.name %></h1>
        <h3>You can create a post</h3>
        <form  method="post" action="/post">
            <textarea class="block p-3 resize-none bg-transparent outline-none border-2 border-zinc-700 w-1/3 mt-2 rounded-md" placeholder="What's in your Mind??" name="content" ></textarea>
            <input class="block px-3 py-2 bg-blue-600 mt-2 w-40 rounded-lg" type="submit" value="Create Post">
        </form>

        <h1 class="text-3xl mt-10 text-zinc-400">Posts</h1>
        <div>
            <textarea class="block p-3 resize-none bg-transparent outline-none border-2 border-zinc-700 w-1/3 mt-2 rounded-md">
                <a href="">Usernamem</a>
            </textarea>
        </div>
    </div>
</body>
</html>